*merged*
*.log
*.accnos
*.trimmed
mothur
*summary
*groups
*.fasta
*.fastq
mothur.*.logfile
nohup.*
original/
otutest/
next_two_accnos
colExt.awk
*.err
*.out
test_datasets/
.Rproj.user
/scripts/srrMunch_bak.sh
